# File mẫu để chia sẻ cấu trúc biến môi trường cho các thành viên trong dự án
# Lưu ý: Các thành viên sẽ copy file này và đổi tên thành .env, sau đó điền thông tin thật ở máy cá nhân
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=example_app_password
